body{
    background-image: url(https://files.catbox.moe/z97aop.jpg);
    background-blend-mode:multiply;
    background-color:rgb(129, 4, 52);
    background-size:cover;
    background-repeat: round;
       /* height: vh;  */
}
div{
    /* border: 1cm red solid; */
}
p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 23;
    color: aliceblue;
}
h1{
   color: aliceblue;  
   background-image:url(https://files.catbox.moe/wv6s1p.webp);
    background-size: contain;
    background-blend-mode: multiply;
    background-color:rgb(73, 0, 0);
   
}
h2{
   color: aliceblue;  
}
.flex{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 98vh; 
    gap:1cm;
    /* padding:1cm; */
}
.box1{
    background-color:rgba(21, 3, 82, 0.596);
    background-image:url(https://files.catbox.moe/z7bxgb.webp);
background-position: center;
    padding: 1in;
    justify-content: center;
    align-items: center;
    border: 10px inset rgb(1, 80, 126);
    order: 1;
    
}
.box2{
    background-color:rgba(21, 3, 82, 0.596);
    background-image:url(https://files.catbox.moe/z7bxgb.webp);
background-position: center;
    padding: 1in;
    justify-content: center;
    align-items: center;
    border: 10px inset rgb(1, 80, 126);
    order: 2;    
}
.box3{
    background-color:rgba(21, 3, 82, 0.596);
    background-image:url(https://files.catbox.moe/z7bxgb.webp);
background-position: center;
    padding: 1in;
    justify-content: center;
    align-items: center;
    border: 10px inset rgb(1, 80, 126);
        order: 3;
}
.button{
    border:2px dashed rgba(0, 255, 98, 0.253);
    padding: 20px;
    min-height: 1in;
    min-width: 1in;
    width: 2in;
    height: 2in;
    /* background-color:rgba(255, 0, 0, 0.37); */

}
