body{
    background-color: rgb(134, 134, 134);
    background-image: url('images/orm1fh.jpg');
    background-size:contain
}
a{

    align-self: center;
    color: white;
    text-decoration: none;

}
img{
    height: auto;
    transition: transform 0.3s ease-in-out;
}
img:hover{
    transform: scale(1.01);
    transition: transform 0.3s ease-in-out;
}
.body{
    /* border: 10px solid red; */
    color: blue;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 97vh;
    gap: 10px;
    /* contain: content; */
}
.head{
    border: 10px inset rgb(133, 133, 133);
    height: 35vh;
    width: 50%;
    display: flex;
    align-self: center;
    justify-content: center;
    background-image: url('images/1025.png');
    background-size: 200px;

    /* background-repeat: no-repeat; */
}
.head img{
    height: 120%;
    /* object-fit:; */
    align-self: center;
    z-index: 10;
}
.navbar{
    /* border: 10px solid blue;  */
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;

}
.a{
    border: 10px outset rgba(0, 0, 0, 0.644);
    flex-direction: column;
    gap: 10px;
    width: 20%;
    text-align: center;
    background-image: url('images/dkgrnmarblejade.webp');
    padding: 10px;
    gap: 10px;

}
.navbutton{
    border: 10px outset rgba(46, 46, 46, 0.623);
    padding: 10px;
    font-size: 40px;
    background-color : rgb(90, 90, 90);
    background-blend-mode: lighten;
    /* background-image: url('images/dkgrnmarblejade.webp'); */
    /* transition: border 0.1s ease-in-out, background-color 0.1s ease-in-out;  */
}
.navbutton:hover{
    border: 10px inset rgba(24, 24, 24, 0.623);
    background-color : rgb(37, 37, 37);
    background-blend-mode: multiply;
}
.button{
border: 10px outset rgba(46, 46, 46, 0.623);
    padding: 10px;
    font-size: 20px;
    background-color : rgb(90, 90, 90);
}
.button:hover{
    border: 10px inset rgba(24, 24, 24, 0.623);
    background-color : rgb(37, 37, 37);
}
.buttons{
    display: flex;
    gap: 10px;
    background-image: url('images/dkgrnmarblejade.webp');
    padding: 10px;
    background-color : rgb(0, 0, 0);
        border: 10px outset rgba(0, 0, 0, 0.644);
    /* background-blend-mode:lighten */
}
.b{
    border: 10px outset rgba(0, 0, 0, 0.644);
    width:40%;
    height: 40%;
    background-image: url('images/dkgrnmarblejade.webp');
    padding: 15px;
    gap:0px;
}
.main{
    padding:10px;
    color:white;
    font-size: 20px;
    border: 10px inset #00858f;
    /* border-image:round 10 url('images/dkgrnmarblejade.webp'); */
    background-image: url('images/z7bxgb.webp');
    background-size: cover;
    height: 92%;
    font-family: 'Sixtyfour', sans-serif;
}
.sm{
    font-size: 30px;
    border: 10px inset rgba(0, 0, 0, 0.644);
    background-color: rgba(0, 0, 0, 0.521);
    align-content: center;
    width: 100%%;
    height: 5vh;
    color: cyan;
}